version: "3.8"

services:
  mysql:
    container_name: mysql
    image: mysql:8.0.40

    # Use the .env instead of hardcoding secrets
    env_file:
      - .env

    # Internal only access   
    expose:
      - "3306"

    # Docker volume added
    volumes:
      - mysql_data:/var/lib/mysql

    networks:
      - two-tier-nt

    restart: always
    healthcheck:
      # Use environment variable instead of password
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot","-p$MYSQL_ROOT_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s

    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
  flask-app:
    container_name: two-tier-app
    build:
      context: .

    ports:
      - "5000:5000"

    env_file:
      - .env

    networks:
      - two-tier-nt

    # Run as non-root user
    user: "1000:1000"  
    # Read only file system
    read_only: true 
    # optional volume for logs 
    volume:
      - ./logs:/app/logs
       

    depends_on:
      mysql:
        condition: service_healthy

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s

    deploy:
      resources:
        limits: 
          cpus: "0.5"  
          memory: 512M

volumes:
  mysql_data:

networks:
  two-tier-nt:
    driver: bridge
    